In [ ]:
#Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [ ]:
#Exercise 3: Create a markdown cell for an introduction

## In this notebook, Data Science Tools and Ecosystem are summarized

In [ ]:
#Exercise 10: Insert a markdown cell to list objectives

__Objectives:__
- Creating markdown cells in Python
- Popular languages that Data Scientists use
- Commonly used libraries by Data Scientists
- Evaluating Arithmetic expressions in Python
- Creating a code in Python to convert 200 minutes to hours

In [ ]:
Exercise 4: Create markdown cell to list data science languages

### _Some of the popular languages that Data Scientists use are:_

1. Python
2. R
3. SQL
4. Julia
5. Java
6. Scala
7. Matlab

In [ ]:
#Exercise 5: Create a markdown cell to list data science libraries

### _Some of the commonly used labraries by Data Scientists include:_
1. Pandas
2. scikit-learn
3. SciPy
4. NumPy
5. Seaborn
6. Matplotlib
7. TensorFlow
8. PyTorch
9. Keras
10. NLT (Natural Language Toolkit)

In [ ]:
#Exercise 6: Create a markdown cell with a table of Data Science tools

| Data Science Tools |
----------------------
| Jupyter Notebook   |
| RStudio            |
| Visual Studio Code (VS Code) |

In [ ]:
#Exercise 7: Create a code cell to multiply and add numbers

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
#Exercise 8: Create a code cell to multiply and add numbers

In [2]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [ ]:
#Exercise 9: Create a code to convert minutes to hours

In [5]:
#This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes/60
print(f"{minutes} minutes is equal to {hours:.2f} hrs")

200 minutes is equal to 3.33 hrs

In [ ]:
#Exercise 11: Create a markdown cell to indicate the Author's name

## Author
Marvel Zerub Adzomani